<!--The content below is only a placeholder and can be replaced.-->
<section class="todoapp">

  <header class="header">
    <h1>Todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" >
    <button type="button" (click)="addTodo()">Agregar</button>
  </header>

  <section class="main">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" (click)="removeTodo(todo)" >
        <div class="view">
          <label>{{todo.title}}</label>
        </div>
      </li>
    </ul>
  </section>

</section>

<router-outlet></router-outlet>
