<!--The content below is only a placeholder and can be replaced.-->

<div fxLayout='column' fxFlex="100%">

  <h1>Todos</h1>

  <div fxLayout="row" >

    <mat-form-field fxFlex="80%" >
      <input matInput placeholder="Descripcion" [(ngModel)]="newTodo.title" >
    </mat-form-field>

    <button mat-raised-button (click)="addTodo()">Agregar</button>
  </div>

  <div>
    <mat-selection-list>
      <mat-list-option *ngFor="let todo of todos" (click)="removeTodo(todo)">
        <mat-icon matListIcon>inbox</mat-icon>
        <h3 matLine> {{todo.title}} </h3>
      </mat-list-option>
    </mat-selection-list>

  </div>

</div>

<router-outlet></router-outlet>
