<!--The content below is only a placeholder and can be replaced.-->
<section class="todoapp">

  <header class="header">
    <h1>Todos</h1>

    <mat-form-field >
      <input matInput placeholder="Descripcion" [(ngModel)]="newTodo.title" >
    </mat-form-field>

    <button mat-raised-button (click)="addTodo()">Agregar</button>
  </header>

  <section class="main">

    <mat-selection-list>
      <mat-list-option *ngFor="let todo of todos" (click)="removeTodo(todo)">
        <mat-icon matListIcon>inbox</mat-icon>
        <h3 matLine> {{todo.title}} </h3>
      </mat-list-option>
    </mat-selection-list>

  </section>

</section>

<router-outlet></router-outlet>
