{{#paper-list}}
  {{#each items as |item|}}

    {{#paper-item onClick=(action onRemoveClicked item) }}
      {{paper-icon "inbox"}}
      <p>{{item.text }}</p>
    {{/paper-item}}

  {{/each}}
{{/paper-list}}